cycler==0.10.0
decorator==4.4.2
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.4
pandas==1.0.3
py4j==0.10.7
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyspark==2.4.5
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
six==1.15.0
threadpoolctl==2.1.0
